.poll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  display: flex;
}

.options .emoji {
  font-size: 2em;
  cursor: pointer;
  margin: 0 10px;
}

.votes {
  display: flex;
  margin-top: 10px;
}

.votes .count {
  margin: 0 10px;
}
